<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
    <link rel="stylesheet" href="static\paymentsuccessful.css">
</head>
<body>
    <div class="heading">
        <h2 align="center">Error in Registration!</h2><br>
        {% csrf_token %}
        {% if error %}
        <p align="center">{{ error }}</p>
        {% endif %}
    </div>
    <div class="body">
        <h4 align="center">&nbsp;Fill Fields in the Registration Form as follows:&nbsp;</h4><br>
        <ol style="margin: 5px 0px 0px 50px ;">
            <li>Name: Cannot be less than two letters</li>
            <li>Email: Needs to be a valid email id</li>
            <li>Username: Cannot be less than 8 characters</li>
            <li>Password: Cannot be less than 8 characters</li>
            <li>Confirm Password: Needs to match above password</li>

        </ol>
    </div>
</body>
</html>