<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
    <link rel="stylesheet" href="static\tickets.css">
</head>
<body>
    <div class="heading">
        <h2 align="center"><i class="fa fa-ticket" aria-hidden="true"></i> &nbsp;Your Tickets&nbsp;<i class="fa fa-ticket" aria-hidden="true"></i></h2>
    </div>
    <div class="main-container">
        <div class="row row-cols-1 row-cols-md-3 g-4 gridCards">
            <form id="place-card" method="POST" action="viewticket" class="input" target="_blank" >
                {% csrf_token %}
            <div class="col Mumbai">
                {% csrf_token %}
                <div class="card h-100">
                    {% csrf_token %}
                    <div class="card-body  d-flex flex-column" style="background-color:#C8D5CB;">
                        {% csrf_token %}
                        {% for x in mymembers %}
                        <h5 class="card-title">{{ x.monument_name }}</h5>
                        <p class="card-text">{{ x.location }}</p>
                        <p class="card-text">Date: {{ x.date }}</p>
                        <button name="viewticket" type="submit" class="btn btn-primary btn-dark align-self-end mt-auto stretched-link" >View Ticket</button><br><br>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</body>
</html>